body {
background-color: rgba(0, 24, 90, 0.404);
}
h1 {
    /* i wanna use a neue font */
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 211, 249);
    text-align: center;
}
footer {
    color: rgba(255, 255, 255, 0.404);
    text-align: right;
    position: fixed;
    bottom: 10px;
    width: 90%;
}
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(98, 132, 226);
    text-align: center;
    
}
#app {
    width: 28%;
    margin:  auto;
    padding: 10px;
    background-color: rgba(255, 234, 255, 0.274);
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    font-family:  Helvetica, sans-serif;
    text-align: left;
}
/* cool button tha is in the middle of the text frame*/
button {
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    font-family:  Helvetica, sans-serif;
    text-align: center;
}